<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
		</sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v9.0" sku=".NETCore,Version=9.0"/>
    </startup>
	<appSettings>
		<add key="X" value="0" />
		<add key="Y" value="17" />
		<add key="Width" value="1066" />
		<add key="Height" value="562" />
		<add key="SplitterDistance" value="487" />
		<add key="Column1" value="60" />
		<add key="Column2" value="60" />
		<add key="Column3" value="60" />
		<add key="Column4" value="60" />
		<add key="Column5" value="60" />
		<add key="Column6" value="60" />
		<add key="Column7" value="60" />
		<add key="Column8" value="60" />
		<add key="Column9" value="60" />
		<add key="Column10" value="60" />
		<add key="Column11" value="60" />
		<add key="Talk" value="0" />
		<add key="VvType" value="0" />
		<add key="VvSpeaker" value="" />
		<add key="VvTalkSpeed" value="0" />
		<add key="AsType" value="0" />
		<add key="AsSpeaker" value="" />
		<add key="AsTalkSpeed" value="0" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
