<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EEWWatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <userSettings>
        <EEWWatch.Properties.Settings>
            <setting name="Form_Location" serializeAs="String">
                <value>0, 17</value>
            </setting>
            <setting name="Form_Size" serializeAs="String">
                <value>1066, 562</value>
            </setting>
            <setting name="Splitter_Distance" serializeAs="String">
                <value>1086</value>
            </setting>
            <setting name="Column1" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column2" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column3" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column4" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column5" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column6" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column7" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column8" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column9" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column10" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column11" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Talk" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>0</value>
            </setting>
        </EEWWatch.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>
